.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  background: white;
}
.mover_boxA {
  background: whitesmoke;
  border: 2px solid blue;
  height: 7rem;
  text-align: left;
  margin-right: 30%;
  box-shadow: 3px 3px 5px grey;
  padding-top:10px;
  padding-bottom:10px;
}
.mover_boxB {
  background: whitesmoke;
  border: 2px solid blue;
  height: 7rem;
  text-align: left;
  margin-right: 30%;
  box-shadow: 3px 3px 5px grey;
  padding-top:10px;
  padding-bottom:10px;
}

td{
  height: 8rem;
}
img {
  width: 50px;
  margin-left: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin: 2px;
}

tr:hover {
  background-color: rgb(244, 246, 248);
}

p {
  margin-left: 30px;
}

drawerContainer {
  overflow: "auto";
}

table {
  width: 100%;
  table-layout: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hiddenArrow {
  text-align: center;
  font-size: 50px;
  color: lightslategray;
  text-shadow: 3px 3px 5px grey;
}

input[type="radio"] {
  border: 0px;
  width: 40%;
  height: 8em;
  margin: 0%;
}
.picker {
  font-size: 20px;
}

 @media(max-width:768px){
    .mover_boxA{
     position: fixed;
     width:40%; 
   }
   .mover_boxB{
      position: fixed;
      width:40%;
  }
  img {
    width: 40px;
    margin-left: 60%;
  }
 }


 